@charset 'utf-8';

@import url('https://fonts.googleapis.com/css2?family=Urbanist&family=Lexend&family=Source+Code+Pro&display=swap');

$family-serif: 'Urbanist', sans-serif;
$family-sans: 'Lexend', sans-serif;;
$family-monospace: 'Source Code Pro', monospace;
$font-code: $family-monospace;

$black: hsl(0, 0%, 0%);
$white: hsl(0, 0%, 100%);
$grey: hsl(0, 0%, 78%);
$grey-dark: hsl(0, 0%, 42%);
$grey-darker: hsl(0, 0%, 29%);
$grey-lighter: hsl(0, 0%, 94%);
$grey-lightest: hsl(0, 0%, 96%);
$grey-superlight: hsl(0, 0%, 98%);
$yellow: hsl(53, 100%, 50%);
$pink: hsl(300, 100%, 50%);
$blue: hsl(205, 84%, 50%);
$cyan: hsl(180, 100%, 35%);
$green: hsl(115, 67%, 38%);
$blue-dark: hsl(205, 53%, 25%);
$green-light: hsl(131, 65%, 58%);
$red: hsl(5, 83%, 50%);
$orange: hsl(41, 79%, 50%);
$greenish: hsl(78, 36%, 53%);

$primary: $grey-darker;
$primary-invert: $grey-superlight;
$primary-light: $grey;
$primary-dark: $black;

$link: $black;
$link-invert: $grey-darker;

$text: $grey-darker;
$background: $grey-superlight;
$border: $grey;
$quotes: $grey-lighter;
$foreground: $grey-dark;

img.logo {
  margin-top: 3rem;
  max-height: 15rem;
}

h1.title {
  font-family: $family-sans;
  font-size: 3rem;
  font-weight: bold;
  padding: 1rem;
  text-align: center;
}

div.foot {
  font-size: 1rem;
  font-weight: lighter;
  padding: 1rem;
  text-align: center;
}

div.links {
  display: block;
  margin: 2rem auto;
  max-width: 480px;
  width: auto;

  .link {
    background-color: $background;
    border: solid $text 2px;
    border-radius: 12px;
    color: $text;
    display: block;
    font-family: $family-sans;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: .5rem;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    transition: all .25s cubic-bezier(.08, .59, .29, .99);

    &:hover {
      background-color: $text;
      color: $background;
    }
  }
}
